.holder {
  display: flex;
}

.controls {
  display: flex;
  flex-direction: column;
}

.reset {
  align-self: center;
  width: 100px;
}

.row {
  display: flex;
}

.cell {
  height: 64px;
  width: 64px;
  font-size: 3.3rem;
  text-align: center;
  border: 1px solid white;
  background-color: palevioletred;
  user-select: none;
}

.cell:hover {
  background-color: rgb(235, 159, 184);
}

.winner {
  background-color: lightgreen;
}
